<ul class="meals list-unstyled">
    <li class="meal" ng-repeat="meal in menu.meals">
    	<div class="mealwrap">
        <div class="mealpic">
        	<h4 class="name">{{meal.name}}</h4>
          <img class="image" ng-src="{{meal.primaryImageUrl}}">
          <img class="curveimg curve1" src="../images/meal-card__curve.svg">
          <div class="curveback"></div>
          <img class="curveimg" src="../images/meal-card__curve.svg">
          <div class="tagholder"><div class="tags">
          	<div class="atag" ng-repeat="tag in meal.tags">
          		<img ng-src="../images/tag--{{tag}}.svg" alt="{{tag}}">
          	</div>
          </div></div>
        </div>         
        <p class="description text-muted">
        	{{meal.description}}
        	<button class="btn">Add To Your Order</button>
        </p>
        <p class="price">£{{meal.price}}</p>
        
        <p class="optavail">3 options available</p>
      </div>
    </li>
</ul>